{% extends "base.html" %}
{% block content %}

<h1 class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title is-size-1">
				Welcome! <br>
				


			</h1>
			<h2 class="subtitle is-size-2">
				 {{ config.extra.author }}
			</h2><br>
			<h3 class="subtitle is-size-3">
				This is Ayush's professional website!{{ config.extra.about }}
			</h3>
		</div>
	</div>
</h1>


{% endblock content %}
